name: "Tag, Release, Packagist"
on:
  push:
    branches:
      - main
    paths:
      - "WireMailPHPMailer.module.php"
jobs:
  tag_and_release:
    runs-on: ubuntu-latest
    env:
      PACKAGIST_USERNAME: "trk"
      PACKAGE_NAME: "trk/processwire-php-mailer"
      VERSION_FILE: "WireMailPHPMailer.module.php"
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Configure Git User
        run: |
          git config user.name "GitHub Actions"
          git config user.email "github-actions@github.com"
      - name: Extract module version
        id: get_version
        run: |
          VERSION=$(grep -oP "const VERSION = '\K[^']+" ${{ env.VERSION_FILE }})

          if [ -z "$VERSION" ]; then
            echo "::error::Could not find the version number in ${{ env.VERSION_FILE }}"
            exit 1
          fi

          echo "version=${VERSION}" >> $GITHUB_OUTPUT
      - name: Create Git Tag and GitHub Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          TAG="v${{ steps.get_version.outputs.version }}"
          echo "Generated Tag: $TAG"
          git tag $TAG
          git push origin $TAG
          gh release create $TAG --generate-notes
      - name: Notify Packagist
        run: |
          curl -X POST \
               -H 'content-type:application/json' \
               'https://packagist.org/api/update.json?username=${{ env.PACKAGIST_USERNAME }}&apiToken=${{ env.secrets.PACKAGIST }}' \
               -d '{"repository":{"url":"https://github.com/${{ env.PACKAGE_NAME }}"}}'
